<h2>List of Beers<%= " for #{@style.name}" if @style %></h2>

<% if @style %>
  <p><%= link_to "Add Beer to #{@style.name}", new_style_beer_path(@style) %></p>
<% end %>

<ul>
  <%=  render @beers %>
</ul>