<nav>
      <ul>
        <li><%= link_to("Home", root_path) %></li>
        <li><%= link_to("Beers", beers_path) %></li>
        <li><%= link_to("Create Beer", new_beer_path) %></li>
      </ul>
    </nav>